@media (min-width: 576px) {
	.hero_content {
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	.hero_content img {
		max-width: 100%;
		height: auto;
	}

	.hero_content > div:last-of-type {
		width: 40%;
		flex-shrink: 0;
	}
}
